$base: #00004d;
$base-light: #e0e0eb;
$primary: #0F0F99;
$accent: #f5f5f5;
$hover: #a5db94;
$selection: #38cb0b;

$dark-base: #0A0B0D;
$dark-base-light: #686973;
$dark-primary: #373740;
$dark-accent: #a1a2aa;
$dark-hover: #c68553;
$dark-selection: #c27c47;