@import "colors";
@import "stats-bar";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: $accent;
}

header {
    height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: $base;
}

header section {
    flex: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

}

header section:nth-child(2) {
    justify-content: center;
}

header section:nth-child(3) {
    justify-content: end;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

aside,
.image-list {
    flex: 20%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    overflow-y: auto;
    background-color: $primary;
}

aside {
    border-left: 1px solid $base;
}

.display {
    flex: 80%;
    background-color: $base-light;
    position: relative;
}

.drop-zone {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: $selection;
    background-color: rgba($color: $primary, $alpha: 0.5);
    backdrop-filter: blur(5px);
}

.modal {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50vw;
    height: 50vh;
    min-width: 600px;
    min-height: 300px;
    overflow-y: auto;
    padding: 1em;
    font-size: 1.25em;
    text-align: justify;
    z-index: 3;
    color: $accent;
    background-color: rgba($color: $base, $alpha: 0.95);
}

.modal h2 {
    text-align: center;
    margin-bottom: 10px;
    color: $selection;
}

.modal p {
    margin-bottom: 15px;
}

.modal b {
    color: $selection;
}

.modal u {
    text-decoration: none;
    color: $hover;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.form button {
    align-self: flex-end;
    width: 4rem;
}


// components
.btn {
    font-size: 0.9rem;
    text-decoration: none;
    border: 0;
    padding: 0.95rem;
    height: 40px;
    min-height: 40px;
    min-width: 5rem;
    box-shadow: 1px 1px 3px $base-light;
    text-align: center;
    vertical-align: center;
    color: $accent;
    background-color: $primary;
    cursor: pointer;
}

.btn:hover {
    color: $base;
    background-color: $selection;
}

.float-input {
    position: absolute;
    top: 5;
    left: 5;
    z-index: 1;
    width: 10em;
    padding: 3px;
    color: $accent;
    background-color: rgba($color: $base, $alpha: 0.95);
}

.text-input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 1.2em;
    color: $hover;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid $hover;
}

//configs
.selected {
    color: $base;
    background-color: $hover;
}

.hide {
    display: none;
}

@mixin dark-mode {
    @include dark-stats-bar;

    body {
        color: $dark-accent;
    }

    header {
        color: $dark-hover;
        background-color: $dark-base;
    }

    aside,
    .image-list {
        background-color: $dark-primary;
    }

    aside {
        border-left: 1px solid $dark-accent;
    }

    .display {
        background-color: $dark-base-light;
    }

    .btn {
        color: $dark-accent;
        background-color: $dark-primary;
    }

    .btn:hover {
        color: $dark-primary;
        background-color: $dark-hover;
    }

    .selected {
        color: $dark-base;
        background-color: $dark-selection;
    }

    .drop-zone {
        color: $dark-hover;
        background-color: rgba($color: $dark-primary, $alpha: 0.90);
        backdrop-filter: blur(5px);
    }

    .float-input {
        color: $dark-accent;
        background-color: rgba($color: $dark-base, $alpha: 0.5);
    }

    .text-input {
        color: $dark-selection;
        border-bottom: 1px solid $dark-selection;
    }

    .modal {
        color: $dark-accent;
        background-color: $dark-base;
    }

    .modal h2 {
        color: $dark-selection;
    }

    .modal b {
        color: $dark-selection;
    }

    .modal u {
        color: $dark-hover;
    }
}


.dark-mode {
    @include dark-mode;
}