* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  height: 100vh;
  color: #f5f5f5;
  flex-direction: column;
  display: flex;
}

header {
  height: 60px;
  min-height: 60px;
  background-color: #00004d;
  border-bottom: 1px solid #000;
  flex-direction: row;
  align-items: center;
  display: flex;
}

header section {
  height: 100%;
  flex: 33%;
  align-items: center;
  gap: 10px;
  padding: 10px;
  display: flex;
}

header section:nth-child(2) {
  justify-content: center;
}

header section:nth-child(3) {
  justify-content: end;
}

main {
  flex-direction: row;
  flex-grow: 1;
  display: flex;
}

aside {
  min-width: 200px;
  background-color: #0f0f99;
  border-left: 1px solid #00004d;
  flex-direction: column;
  flex: 20%;
  display: flex;
  overflow-y: auto;
}

.display {
  background-color: #e0e0eb;
  flex: 80%;
  position: relative;
}

.drop-zone {
  height: 100%;
  width: 100%;
  z-index: 2;
  color: #38cb0b;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #0f0f9980;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.modal {
  width: 50vw;
  height: 50vh;
  min-width: 600px;
  min-height: 300px;
  text-align: justify;
  z-index: 3;
  color: #f5f5f5;
  background-color: #00004df2;
  margin: auto;
  padding: 1em;
  font-size: 1.25em;
  display: block;
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

.modal h2 {
  text-align: center;
  color: #38cb0b;
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 15px;
}

.modal b {
  color: #38cb0b;
}

.modal u {
  color: #a5db94;
  text-decoration: none;
}

.form {
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  display: flex;
}

.form button {
  width: 4rem;
  align-self: flex-end;
}

.btn {
  height: 40px;
  min-height: 40px;
  min-width: 5rem;
  text-align: center;
  vertical-align: center;
  color: #f5f5f5;
  cursor: pointer;
  background-color: #0f0f99;
  border: 0;
  padding: .95rem;
  font-size: .9rem;
  text-decoration: none;
  box-shadow: 1px 1px 3px #e0e0eb;
}

.btn:hover {
  color: #00004d;
  background-color: #38cb0b;
}

.float-input {
  z-index: 1;
  width: 10em;
  color: #f5f5f5;
  background-color: #00004df2;
  padding: 3px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.text-input {
  width: 100%;
  height: 100%;
  color: #a5db94;
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #a5db94;
  outline: none;
  font-size: 1.2em;
}

.selected {
  color: #00004d;
  background-color: #a5db94;
}

.hide {
  display: none;
}

.dark-mode body {
  color: #a1a2aa;
}

.dark-mode header {
  color: #c68553;
  background-color: #0a0b0d;
}

.dark-mode aside {
  background-color: #373740;
  border-left: 1px solid #a1a2aa;
}

.dark-mode .display {
  background-color: #686973;
}

.dark-mode .btn {
  color: #a1a2aa;
  background-color: #373740;
}

.dark-mode .btn:hover {
  color: #373740;
  background-color: #c68553;
}

.dark-mode .selected {
  color: #0a0b0d;
  background-color: #c27c47;
}

.dark-mode .drop-zone {
  color: #c68553;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #373740e6;
}

.dark-mode .float-input {
  color: #a1a2aa;
  background-color: #0a0b0d80;
}

.dark-mode .text-input {
  color: #c27c47;
  border-bottom: 1px solid #c27c47;
}

.dark-mode .modal {
  color: #a1a2aa;
  background-color: #0a0b0d;
}

.dark-mode .modal h2, .dark-mode .modal b {
  color: #c27c47;
}

.dark-mode .modal u {
  color: #c68553;
}

/*# sourceMappingURL=index.e86c4a0e.css.map */
