$base: #00004d;
$base-light: #e0e0eb;
$primary: #0F0F99;
$accent: #f5f5f5;
$hover: #a5db94;
$selection: #38cb0b;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: $accent;
}

header {
    height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: $base;
}

header section {
    flex: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

}

header section:nth-child(2) {
    justify-content: center;
}

header section:nth-child(3) {
    justify-content: end;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

aside {
    flex: 20%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    overflow-y: auto;
    background-color: $primary;
    border-left: 1px solid $base;
}

.display {
    flex: 80%;
    background-color: $base-light;
    position: relative;
}

.drop-zone {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: $selection;
    background-color: rgba($color: $primary, $alpha: 0.5);
    backdrop-filter: blur(5px);
}


// components
.btn {
    font-size: 0.9em;
    text-decoration: none;
    border: 0;
    padding: 0.95em;
    height: 40px;
    min-height: 40px;
    min-width: 5em;
    box-shadow: 1px 1px 3px $base-light;
    text-align: center;
    vertical-align: center;
    color: $accent;
    background-color: $primary;
    cursor: pointer;
}

.btn:hover {
    color: $base;
    background-color: $selection;
}

.float-input {
    position: absolute;
    top: 5;
    left: 5;
    z-index: 1;
    width: 10em;
    padding: 3px;
    color: $accent;
    background-color: rgba($color: $base, $alpha: 0.95) ;
}

.float-input input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 1.2em;
    color: $hover;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid $hover;
}

//configs
.selected {
    color: $base;
    background-color: $hover;
}

.hide {
    display: none;
}

@mixin dark-mode {
    $base: #0A0B0D;
    $base-light: #686973;
    $primary: #373740;
    $accent: #a1a2aa;
    $hover: #c68553;
    $selection: #c27c47;

    body {
        color: $accent;
    }

    header {
        color: $hover;
        background-color: $base;
    }

    aside {
        background-color: $primary;
        border-left: 1px solid $accent;
    }

    .display {
        background-color: $base-light;
    }

    .btn {
        color: $accent;
        background-color: $primary;
    }

    .btn:hover {
        color: $primary;
        background-color: $hover;
    }

    .selected {
        color: $base;
        background-color: $selection;
    }

    .drop-zone {
        color: $hover;
        background-color: rgba($color: $primary, $alpha: 0.90);
        backdrop-filter: blur(5px);
    }

    .float-input {
        color: $accent;
        background-color: rgba($color: $base, $alpha: 0.5) ;
    }

    .float-input input {
        color: $selection;
        border-bottom: 1px solid $selection;
    }

}

.dark-mode {
    @include dark-mode;
}